{% extends "base.html" %}

{% macro newComponent(links) -%}
	{% for (title, href_val) in links %}
	  <li><a href={{href_val}} target="_blank">{{title}}</a></li>
	{% endfor %}
{%- endmacro %}

{% block content %}
<h1>Here is what you have done so far :P...!!!</h1>
<form action="{{url_for('all_prs')}}" method="POST">
	{% if message %}
	    <h2>{{message}}</h2>
	{% endif %}

	<div>
	    <ul>
	    	{{ newComponent(prs) }}
	    </ul>
	</div>

	<input type="submit" value="Refresh">
</form>
{% endblock %}