<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Jinja Demo</title>
</head>
<body>
    <div id="content">
        <h1>Lets Create the PRs ...!!!</h1>
        <form action="{{url_for('home')}}" method="POST">
          Enter Jira Ticker:<br>
          <input type="text" name="jira" >
          <div style="margin-top: 12px">
          Enter Github Branch:<br>
          <input type="text" name="github" >
          <div style="margin-top: 12px">
          Enter Labels:<br>
          <input type="text" name="labels" >
          <br><br>
          <input type="submit" value="Login">
        </form> 
        {% if message %}
            {{ message }}
        {% endif %}
    </div>
    <div id="footer" style="margin-top: 12px"> Copyright © 2019 All Rights Reserved </div>
</body>
</html>