<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create PRs</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('all_prs')}}">All PRs</a></li>
        </ul>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <h3 id="loading" style="display: none;">Loading....</h3>
    <div id="footer" style="margin-top: 12px"> Copyright © 2019 All Rights Reserved </div>
</body>

<script type="text/javascript">
  function loading(){
    console.log("adsafdasdf");
    document.getElementById('loading').style.display = 'block';
  }
</script>

</html>
